.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 49px 94px 50px;
  place-content: center;
}

.header__menu {
  align-self: center;
}

.header__menu-list {
  display: flex;
  align-items: flex-start;
  list-style: circle;
  gap: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.header__menu-list-item_no-bullit .header__link-active {
  text-decoration: none;
}

.header__menu-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  align-self: center;
  justify-self: center;
  flex-shrink: 0;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  align-self: center;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 757px;
  z-index: -2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.6);
  z-index: -1;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 130px 50px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
}

.cover__description-text {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
  padding-right: 78px;
}

.bet-button {
  padding: 11px 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  padding: 0 40px 27px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 16px;
}

.lots__card-list-item {
  flex-grow: 1;
  height: 450px;
  max-width: 430px;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  height: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  height: 100%;
  position: relative;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
  height: 100%;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
  height: 100%;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 30px 40px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
